In [11]:
import numpy as np

In [20]:
temperature = [[ 43.6,  45.1,  58.8,  53 ],
 [ 47, 44.5,  58.3,  52.6],
 [ 46.7, 44.2,  57.9,  52.2],
 [ 46.5,  44.1,  57.6,  51.9],
 [ 46.2,  43.9,  57.2,  51.5]]

temperature

[[43.6, 45.1, 58.8, 53],
 [47, 44.5, 58.3, 52.6],
 [46.7, 44.2, 57.9, 52.2],
 [46.5, 44.1, 57.6, 51.9],
 [46.2, 43.9, 57.2, 51.5]]

In [18]:
import pandas as pd

In [31]:
df_temperature = pd.DataFrame(temperature,index=['Monday','Tuesday','Wednesday','Thursday','Friday'],columns=['0:00','6:00','12:00','18:00'])
df_temperature.to_csv('df_temperature.csv')
df_temperature

           0:00  6:00  12:00  18:00
Monday     43.6  45.1   58.8   53.0
Tuesday    47.0  44.5   58.3   52.6
Wednesday  46.7  44.2   57.9   52.2
Thursday   46.5  44.1   57.6   51.9
Friday     46.2  43.9   57.2   51.5

In [32]:
temperature_data = np.array(temperature)
temperature_data

array([[43.6, 45.1, 58.8, 53. ],
       [47. , 44.5, 58.3, 52.6],
       [46.7, 44.2, 57.9, 52.2],
       [46.5, 44.1, 57.6, 51.9],
       [46.2, 43.9, 57.2, 51.5]])

In [36]:
temperatures_fixed = temperature_data + 3
print(temperatures_fixed)

monday_temperatures = temperatures_fixed[0,:]
print(monday_temperatures)

thursday_friday_morning = temperatures_fixed[3:5,1]
print(thursday_friday_morning)

temperature_extremes =  temperatures_fixed[( temperatures_fixed < 50) | ( temperatures_fixed >60)]
print(temperature_extremes)

[[46.6 48.1 61.8 56. ]
 [50.  47.5 61.3 55.6]
 [49.7 47.2 60.9 55.2]
 [49.5 47.1 60.6 54.9]
 [49.2 46.9 60.2 54.5]]
[46.6 48.1 61.8 56. ]
[47.1 46.9]
[46.6 48.1 61.8 47.5 61.3 49.7 47.2 60.9 49.5 47.1 60.6 49.2 46.9 60.2]

In [50]:
df_temperature.loc[:'']

Monday       43.6
Tuesday      47.0
Wednesday    46.7
Thursday     46.5
Friday       46.2
Name: 0:00, dtype: float64

In [ ]:
df_temperature.loc[:,'0:00']